body {
    /*background-color: #C1EDFF;*/
    /*background-color: white;*/
    background-color: #F0FBFF;
    font-family: 'Assistant', sans-serif;
}

#mycb {
    font-size: 18px;
    text-align: right;
}
gameArea {
    width: 100%;
    height: 500px;
}

iframe {
    width: 100%;
    height: 93%;
    position: absolute;
}


#gameArea {
    margin-top: -20px;
}

#logo {
    width: 150px;
    height: 50px;
    margin-right: 10px;
}

nav {
    font-size: large;
    font-weight: bold;
}

p {
    font-size: medium;
}

.b {
    font-weight: bold;
}

.color {
    color: #ff6600;
}

#insPic {
    width: 184px;
    position: absolute;
    margin-right: 384px;
    margin-top: 92px;
}

#aboutLogo{
    display:inline;
}


.royal{
    text-align: center;
}


.x-large{
        font-size: x-large !important;
}

large{
    font-size: 19pt !important;
}

.sizeIt{
    font-size: 14pt;
}

#aboutLogoSrc {
    margin: 0px 91px 0 100px;

}

.telem{

    text-align: right;
}

#hitLogo{
    width: 66px;
    float: right;
    margin-right: 24%;
    margin-left: 2%;
}


.navbar-default {
    background-color: #ff6600;
    border-color: #ff6600 !important;
}

    .navbar-default .navbar-brand {
        color: #ffffff;
    }

        .navbar-default .navbar-brand:hover,
        .navbar-default .navbar-brand:focus {
            color: #151413;
        }

    .navbar-default .navbar-text {
        color: #ffffff;
    }

    .navbar-default .navbar-nav > li > a {
        color: #ffffff;
    }

        .navbar-default .navbar-nav > li > a:hover,
        .navbar-default .navbar-nav > li > a:focus {
            color: #151413;
        }

    .navbar-default .navbar-nav > .active > a,
    .navbar-default .navbar-nav > .active > a:hover,
    .navbar-default .navbar-nav > .active > a:focus {
        color: #151413;
        background-color: #f9ba8d;
    }

    .navbar-default .navbar-nav > .open > a,
    .navbar-default .navbar-nav > .open > a:hover,
    .navbar-default .navbar-nav > .open > a:focus {
        color: #151413;
        background-color: #f9ba8d;
    }

    .navbar-default .navbar-toggle {
        border-color: #f9ba8d;
    }

        .navbar-default .navbar-toggle:hover,
        .navbar-default .navbar-toggle:focus {
            background-color: #f9ba8d;
        }

        .navbar-default .navbar-toggle .icon-bar {
            background-color: #ffffff;
        }

    .navbar-default .navbar-collapse,
    .navbar-default .navbar-form {
        border-color: #ffffff;
    }

    .navbar-default .navbar-link {
        color: #ffffff;
    }

        .navbar-default .navbar-link:hover {
            color: #151413;
        }

@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #ffffff;
    }

        .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
        .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
            color: #151413;
        }

    .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #151413;
        background-color: #f9ba8d;
    }
}
